/* Colors - Light theme */
@mixin light-mode {
  --color-black-white: #000000;
  --color-coconut-black: #f9f9f9;
  --color-coconut-charcoal: #f9f9f9;
  --color-coconut-dark: #f9f9f9;
  --color-coconut-onyx: #f9f9f9;
  --color-coconut-faded_white: #f9f9f9;
  --color-concrete-fadded: #595959;
  --color-dark-concrete: #292929;
  --color-dark-faded: #292929;
  --color-dark-magenta: #292929;
  --color-dark-white: #292929;
  --color-dove_gray-faded_gray: #6c6f84;
  --color-faded-gray: #a0a0a0;
  --color-faded-concrete: #a0a0a0;
  --color-faded-dark: #a0a0a0;
  --color-gray_border-dark: #6f7287;
  --color-lilia-onyx: #eeeeee;
  --color-lilia-charcoal: #eeeeee;
  --color-lilia-metak_black: #eeeeee;
  --color-grey-dark: #eeeeee;
  --color-magenta-white: #ff277e;
  --color-shadow-white: #575757;
  --color-solid_gray-dark: #e2e3e7;
  --color-zinc-azabache: #ededed;
  --color-wheat-onyx: #fff4e7;
  --color-wheat-charcoal: #fff4e7;
  --color-white-black: #ffffff;
  --color-white-charcoal: #ffffff;
  --color-white-dark: #ffffff;
  --color-white-dark-gray: #ffffff;
  --color-white-onyx: #ffffff;
  --color-backgorund-orange: #f7efe5;
  --color-silver-charcoal: #d5d5d5;
  --color-silver-shadow: #d5d5d5;
  --color-blue-bg-club: #f5fbfd;
  --filter-none-invert: none;
  --filter-none-brightness: none;
}

/* Colors - Dark theme */
@mixin dark-mode {
  --color-black-white: #ffffff;
  --color-coconut-black: #000000;
  --color-coconut-charcoal: #191919;
  --color-coconut-dark: #292929;
  --color-coconut-onyx: #141414;
  --color-coconut-faded_white: #ffffff05;
  --color-dark-concrete: #595959;
  --color-dark-faded: #a0a0a0;
  --color-dark-magenta: #ff277e;
  --color-dark-white: #ffffff;
  --color-white-cha: #292929;
  --color-dove_gray-faded_gray: #a0a0a0;
  --color-concrete-fadded: #a0a0a0;
  --color-faded-concrete: #595959;
  --color-faded-dark: #292929;
  --color-faded-gray: #ffffff;
  --color-gray_border-dark: #292929;
  --color-lilia-onyx: #141414;
  --color-lilia-charcoal: #191919;
  --color-lilia-metak_black: #3e3e3e;
  --color-grey-dark: #292929;
  --color-magenta-white: #ffffff;
  --color-shadow-white: #ffffff;
  --color-solid_gray-dark: #292929;
  --color-wheat-onyx: #141414;
  --color-wheat-charcoal: #191919;
  --color-white-black: #000000;
  --color-white-charcoal: #191919;
  --color-white-dark: #292929;
  --color-white-onyx: #141414;
  --color-zinc-azabache: #333333;
  --color-backgorund-orange: #141414;
  --color-silver-charcoal: #191919;
  --color-silver-shadow: #575757;
  --color-blue-bg-club: #292929;
  --filter-none-invert: invert(1);
  --filter-none-brightness: brightness(500%);
}

:root {
  @include light-mode;
}

.dark-mode {
  @include dark-mode;
}

.light-mode {
  @include light-mode;
}

@media (prefers-color-scheme: light) {
  :root {
    @include light-mode;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-mode;
  }
}
